<div class="simple-header">
    <h2>Conversor de Algarismo Romanos</h2>
</div>
<div class="wrapper-menu">
    <div class="overlay"></div>
    <div class="div-menu">
        <button class="btn btn-menu transit-400" type="button"
            [ngClass]="{active: btn1}" (click)="activeBtn('btn1')">Para<br>Algarismos Romanos</button>
        <button class="btn btn-menu transit-400" type="button"
            [ngClass]="{active: btn2}" (click)="activeBtn('btn2')">Para<br>Algarismo Arábico</button>  
    </div> 
</div>  