<div class="footer">
    <div class="row">
        <div class="col-lg-6">
            <h1>Conversor de Algarismos Romanos</h1>
            <p>Converta seu número para algarismos romano<br>
            ou<br>Converta seus algarismos romano em algarismo arábico</p>
        </div>

        <div class="col-lg-6">
            <div class="ic">
                <a (click)="linkToEmailSender()"><i class="bi bi-envelope-fill"></i></a>
                <a (click)="linkToLinkedin()"><i class="bi bi-linkedin"></i></a>
                <a (click)="linkToGithub()"><i class="bi bi-github"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
            <span>Desenvolvido por Willian K.</span>
        </div>
    </div>
</div>
